.footer {
  width: 100%;
  height: auto;
  background-color: #232f3e;
}

.footer .backToTop {
  width: 100%;
  height: 18;
  padding: 15px 0;
  background-color: #37475a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.backToTop:hover {
  background-color: #485769;
  cursor: pointer;
}

.footer__options {
  width: 100%;
  min-height: 218px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 40px;
}

.footer__options1 > h3,
.footer__options2 > h3,
.footer__options3 > h3,
.footer__options4 > h3 {
  font-weight: 600;
}

.footer__options1 > ul,
.footer__options2 > ul,
.footer__options3 > ul,
.footer__options4 > ul {
  list-style-type: none;
}

.footer__options1 > ul > li,
.footer__options2 > ul > li,
.footer__options3 > ul > li,
.footer__options4 > ul > li {
  padding: 10px 0 0;
  font-size: 14px;
}

.footer__options1 > ul > li:hover,
.footer__options2 > ul > li:hover,
.footer__options3 > ul > li:hover,
.footer__options4 > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__line {
  width: 100%;
  margin-top: 40px;
  border: 1px solid #3a4553;
}

.footer__suboptions {
  width: 100%;
  min-height: 36px;
  margin-top: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__suboptions .footer__suboptionsLogo {
  width: 76px;
  height: 23px;
  margin: 30px 0 15px;
}

.footer__suboptions .footer__suboptionsLogo > img {
  width: inherit;
  height: inherit;
}

.footer__suboptionsLang {
  width: 100%;
  min-height: 36px;
  margin-top: 10px;
  margin-left: 70px;
}

.footer__suboptions2 {
  margin-top: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  padding: 0 0.6em;
}

.footer__table {
  width: 100%;
  min-height: 82px;
  padding: 30px 0;
  margin-top: 30px;
  background-color: #131a22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__end {
  height: 18px;
  padding: 10px 0 30px;

  background-color: #131a22;
  display: flex;
  justify-content: center;
  align-items: center;
}
